New Web Clock/Source WebClock-General/ASPWebclock/Service References/CCWinService/CCService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CCService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICCService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/CCService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/CCService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/CCService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICCService_CalculateOnePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateOnePerson" />
  </wsdl:message>
  <wsdl:message name="ICCService_CalculateOnePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateOnePersonResponse" />
  </wsdl:message>
  <wsdl:message name="ICCService_CalculateListPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateListPerson" />
  </wsdl:message>
  <wsdl:message name="ICCService_CalculateListPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateListPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="ICCService">
    <wsdl:operation name="CalculateOnePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCService/CalculateOnePerson" message="tns:ICCService_CalculateOnePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCService/CalculateOnePersonResponse" message="tns:ICCService_CalculateOnePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateListPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCService/CalculateListPerson" message="tns:ICCService_CalculateListPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCService/CalculateListPersonResponse" message="tns:ICCService_CalculateListPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICCService" type="tns:ICCService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICCService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateOnePerson">
      <soap12:operation soapAction="http://tempuri.org/ICCService/CalculateOnePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateListPerson">
      <soap12:operation soapAction="http://tempuri.org/ICCService/CalculateListPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCService">
    <wsdl:port name="WSHttpBinding_ICCService" binding="tns:WSHttpBinding_ICCService">
      <soap12:address location="http://localhost:8000/CCService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8000/CCService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>